APP_ENV=development # development|production
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=database_name
DATABASE_URL="postgresql+psycopg://postgres:postgres@localhost:5432/database_name"
JWT_SECRET="change-this-with-32-bytes-string"
JWT_ALG=HS256
JWT_EXPIRE_MIN=60
AUTH_RATE_LIMIT="5/minute"