APP_ENV=development # development|production
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=database_name
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/database_name"
JWT_SECRET="change-this"
JWT_ALG=HS256
JWT_EXPIRE_MIN=60